# Maven
target/
*.jar
*.war
*.ear
*.class

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
*.log
.gradle/
build/

#Manual
*.docx
.gitattributes

# Ignore git config to prevent secret scanners from flagging it
.git/config
